extends ../../layout.jade

block styles
	include styles.css

block content
	+title('Адрес:', 'Манежная площадь, 1')(bold='desc')

	+category('метро', 'Охотный ряд')(bold=' ')
	+category(null, 'Александровский сад')(bold=' ')
	+category(null, 'Библиотека им. Ленина')(bold=' ')

	+title('Площадка', 'ЦВЗ «Манеж»')(bold='desc')
	+category('площадь с указанием фальш стен', '11078,1м' + sup('2'), 'Общая выставочная площадь')

	+line()

	+title('Балкон над залом конференций' + br() + '(антресоль 1 этаж (2-й этаж))')

	+category('Площадь', '198,3м' + sup('3'))

	+category('Высота потолков', '6700мм', 'до ферм')
	+category('Высота застройки', '6200мм', 'под фермами')


	+title('Балкон (антресоль 1 этаж (2-й этаж))')

	+category('Площадь', '507,3м' + sup('2'))
	+category('Высота потолков', '6700мм', 'до ферм')
	+category(null, '2300мм', 'под балконом до навесного потолка')

	+category('Высота застройки', '6200мм', 'под фермами')
	+category(null, '1900мм', 'под балконом')

	+title('Характеристика помещения')(style='h2')

	+category('возможность установки автомобиля', 'до 350шт', 'в зависимости' + br() + 'от габаритов и массы')
	+category('максимальная мощность', '2025кВт')
	+category('ограничение по звуку', '80dB')
	+category('регулировка температуры', '18-25 ̊С')
	+category('регулировка влажности', 'не регулируется')

	+line()

	+image('Схема зала', 'img/01.png')
	+image('Балкон над залом конференций', 'img/02.png')
	+image('Балкон над залом конференций', 'img/03.png')