extends ../../layout.jade

block styles
	include styles.css

block content
	+title('Адрес:', 'Манежная площадь, 1')(bold='desc')

	+category('метро', 'Охотный ряд')(bold=' ')
	+category(null, 'Александровский сад')(bold=' ')
	+category(null, 'Библиотека им. Ленина')(bold=' ')

	+title('Площадка', 'ЦВЗ «Манеж»')(bold='desc')
	+category('площадь с указанием фальш стен', '11078,1м' + sup('2'), 'Общая выставочная площадь')

	+line()

	+title('Зал выставочный (подвал, -2 этаж)')

	+category('Площадь', '3426,7м' + sup('3'))

	+category('Высота потолков', '5600мм', 'до навесного потолка')
	+category(null, '2300мм', 'под балконом до навесного потолка')

	+category('Высота застройки', '5000мм', 'под навесным потолком')
	+category(null, '2000мм', 'под балконом')

	+title('Характеристика помещения')(style='h2')

	+category('возможность установки автомобиля', 'до 350шт', 'в зависимости' + br() + 'от габаритов и массы')
	+category('максимальная мощность', '2025кВт')
	+category('ограничение по звуку', '80dB')
	+category('регулировка температуры', '18-25 ̊С')
	+category('регулировка влажности', 'не регулируется')

	+line()

	+image('Схема зала', 'img/01.png')
	+image('Балкон над залом конференций', 'img/02.png')