td
  padding-top 15px
  vertical-align top

.title
  &.h1
    font-size 16pt
  &.h2
    font-size 12pt
    font-weight bold

.spacer
  height 20px

.category
  width 280px
  border-bottom 1px solid black

.val
  border-bottom 1px solid black
  display inline-block
  font-weight bold

.addon
  padding-left 40px

