html
	head
		meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
		style
			include global.css
			block styles
	body
		.header_block
			h1 Я шапка комерческого предложения МАНЕЖА
		.content_block
			center
				block content
		.footer_block
			hr
			h2 я красивый футер
			a(href='http://moscowmanege.ru') я сайт манежа