extends ../../layout.jade

block styles
	include styles.css

block content
	+title('Адрес:', 'Манежная площадь, 1')(style='h1', bold='desc')

	+category('метро', 'Охотный ряд')
	+category(null, 'Александровский сад')
	+category(null, 'Библиотека им. Ленина')

	+title('Площадка', 'ЦВЗ «Манеж»')(style='h1', bold='desc')
	+category('площадь с указанием фальш стен', '11078,1м' + up(2), 'Общая выставочная площадь')

	+line()

	+title('Зал выставочный (1 этаж)')(style='h1', bold='head')

	+category('площадка', '6187,0м' + up(2))

	+category('Высота потолков', '11600мм', 'до ферм')
	+category(null, '10400мм', 'до навесного потолка')
	+category(null, '2600мм', 'под балконом до навесного потолка')

	+category('Высота застройки', '8000мм', 'под фермами и навесным потолком')
	+category(null, '2000мм', 'под балконом')


	+spacer()

	+spacer()

	+category('Высота застройки', '8400мм')

	+title('Маленький заголовок подраздела')(style='h2', bold='head')

	+category('Метраж 1', '1800м' + up(2), 'до потолка')
	+category('Метраж 2', '5400мм', 'до ферм')
	+category('Метраж 3 длинный', '3200м' + up(2), 'до пола')

	+line()
	+image('Я красивая картинка', 'img/01.jpg')
	+image('Я еще картинка', 'img/02.jpg')