extends ../../layout.jade

block styles
	include styles.css

block content
	+title('Адрес:', 'Манежная площадь, 1')(bold='desc')

	+category('метро', 'Охотный ряд')(bold=' ')
	+category(null, 'Александровский сад')(bold=' ')
	+category(null, 'Библиотека им. Ленина')(bold=' ')

	+title('Площадка', 'ЦВЗ «Манеж»')(bold='desc')
	+category('площадь с указанием фальш стен', '11078,1м' + sup('2'), 'Общая выставочная площадь')

	+line()

	+title('Зал выставочный (1 этаж)')

	+category('Площадь', '6187,0м' + sup('2'))

	+category('Высота потолков', '11600мм', 'до ферм')
	+category(null, '10400мм', 'до навесного потолка')
	+category(null, '2600мм', 'под балконом до навесного потолка')

	+category('Высота застройки', '8000мм', 'под фермами и навесным потолком')
	+category(null, '2000мм', 'под балконом')

	+title('Зал конференций (1 этаж)')

	+category('Площадь', '155,6м' + sup('2'))
	+category('Высота потолков', '3800мм', 'до потолка')
	+category('Высота застройки', '3000мм')

	+title('Характеристика помещения')(style='h2')

	+category('возможность установки автомобиля', 'до 350шт', 'в зависимости' + br() + 'от габаритов и массы')
	+category('максимальная мощность', '2025кВт')
	+category('ограничение по звуку', '80dB')
	+category('регулировка температуры', '18-25 ̊С')
	+category('регулировка влажности', 'не регулируется')

	+line()

	+image('Схема зала', 'img/01.png')
	+image('Помещение внутри (1 этаж)', 'img/02.jpg')
	+image('Проведение выставки Cosmoscow (1 этаж)', 'img/03.jpg')
	+image('Зал конференций (1 этаж)', 'img/04.jpg')