extends ../../layout.jade

block styles
	include styles.css

block content
	+title('Заголовок раздела', 'пояснение для заголовка')(style='h1')

	+category('Метраж', '1800м' + up(2), 'дополнение')

	+spacer()

	+category('Метраж', '2100мм', 'до ферм')
	+category(null, '3400мм', 'до навесного потолка')
	+category(null, '5100мм', 'дополнение')

	+title('Маленький заголовок подраздела', 'пояснение для заголовка')(style='h2')

	+category('Метраж 1', '1800м' + up(2), 'до потолка')
	+category('Метраж 2', '5400мм', 'до ферм')
	+category('Метраж 3 длинный', '3200м' + up(2), 'до пола')